.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #111;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
}




.logo-img{
  height: 40px;
  width: auto;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.nav a:hover {
  color: #f5c542;
}