.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #111;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.nav a:hover {
  color: #f5c542;
}