<div class="auth-container">

  <div class="card">

    <img src="assets/logoWorkTrack.png" alt="WorkTrack Logo" class="logo" />

    <h2>Crear cuenta</h2>
    <p class="subtitle">Registrate para comenzar</p>

    <p *ngIf="message" class="success">{{ message }}</p>
    <p *ngIf="error" class="error">{{ error }}</p>

    <form (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label>Email</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          #emailRef="ngModel"
          placeholder="tu@email.com"
        />
        <small *ngIf="emailRef.invalid && emailRef.touched">
          Email inválido
        </small>
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          minlength="6"
          #passRef="ngModel"
          placeholder="Mínimo 6 caracteres"
        />
        <small *ngIf="passRef.invalid && passRef.touched">
          Mínimo 6 caracteres
        </small>
      </div>

      <div class="input-group">
        <label>Confirmar contraseña</label>
        <input
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          #confirmRef="ngModel"
          placeholder="Repetir contraseña"
        />
        <small *ngIf="confirmRef.touched && password !== confirmPassword">
          Las contraseñas no coinciden
        </small>
      </div>

      <button type="submit" class="btn-main">
        Registrarse
      </button>

    </form>

    <p class="link">
      ¿Ya tenés cuenta? <a routerLink="/login">Iniciar sesión</a>
    </p>

  </div>
</div>