.home {
  text-align: center;
  padding: 40px;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #28a745, #00c896);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}





.btn:hover {
  background: #218838;
}

@media (max-width: 600px) {
  .home {
    padding: 20px;
  }
}



